#controlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters.noHeader)
<script type="text/javascript">
  AJS.$(document).ready(function() {
  var width = '$!value'+"%";
  var color = '$!color';
  
  AJS.$("#bar").css('width', width);
  AJS.$("#bar").css('background-color',color);
  });
</script>
<style>
   #progress {
 width: 200px;   
 border: 1px solid #ccc;
 border-radius: 3px;
 position: relative;
 padding: 3px;
}

#percent {
 position: absolute;   
 left: 50%;
}


</style>
<div id="progress">
    <span id="percent">$!value%</span>
    <div style="width: $!width%; background-color: $!color; height: 15px;" id="bar"></div>
</div>
  <input type="text" style="display:none;" name="$customField.id" value="$!value">
#controlFooter ($action $fieldLayoutItem.fieldDescription $displayParameters.noHeader)
